<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.dao.WeiBoDao">

    <select id="checkUid" parameterType="String" resultType="int">
        SELECT COUNT(user_id) FROM `user_weibo` WHERE uid = #{uid};
    </select>
    <select id="findUserIdByUid" parameterType="String" resultType="String">
        SELECT user_id FROM `user_weibo` WHERE uid = #{uid};
    </select>
    <insert id="saveUid" parameterType="String">
        INSERT INTO `user_weibo` ( `uid`, `user_id`, `status`, `creat_time`) VALUES (#{uid}, userId, 0, NOW());
    </insert>
    <insert id="saveUidAndUserId" keyProperty="id" useGeneratedKeys="true" parameterType="String">
        INSERT INTO `user_weibo` ( `uid`, `user_id`, `status`, `creat_time`) VALUES (#{0}, #{1}, 0, NOW());
    </insert>
</mapper>